/* Header Componnet */
.ml-auto div {
    padding: 17px;
}
.header{
    font-family: 'Open Sans', sans-serif;
}

.brand{
    font-weight: 1000;
}

.nav-option{
    font-weight: 500;
}



/* Main Component */
.main{
    margin-top: 16%;
    margin-bottom: 16%;
    font-family:"Varela Round";
}
.main-text h2{
    margin-top: 20%;
    margin-bottom: 20%;
}
.name{
    color: #2B9DFF;
}
.home-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}


/* Mobile Devices */


@media only screen and (max-width: 760px){
    /* Main */
    .main-text h2{
        text-align: center;
    }
}
@media only screen and (max-width: 580px){
    /* Header */
    .ml-auto div {
        padding: 0px;
        color: black;
        line-height: 2.5;
    }
    /* Main */
    .main-text h2{
        text-align: center;
    }
}
@media only screen and (max-width: 778px){
    /* Header */
    .ml-auto div {
        padding: 10px;
        color: black;
        line-height: 2.5;
    }
}
@media only screen and (max-width: 1000px){
    /* Main */
    .main-text h2{
        margin-top: 10%;
        margin-bottom: 10%
    }
    .name::before{
        content: "\a";
        white-space: pre;
    }
    .desig::before{
        content: "\a";
        white-space: pre;
    }
}
