.mr-auto{
    color: black;
}
.ml-auto div {
    padding-left: 20px;
    color: black;
}
.header{
    font-family: 'Open Sans', sans-serif;
}
.main{
    margin-top: 8%;
    margin-bottom: 8%;
    font-family:"Varela Round";
}
.main-text h2{
    margin-top: 20%;
    margin-bottom: 20%;
}
.main-text h2 span{
    color: #2B9DFF;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}